@font-face {
    font-family: 'HelveticaBlack';
    src: url('./fonts/HelveticaBlack.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rockwell-ExtraBold';
    src: url('./fonts/Rockwell-ExtraBold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

