@import "_fonts.scss";
@import "_reset.scss";

:root {
	--red: #ff424e;
	--blue: #00adef;
	--black: black;
	--yellow: #feed01;

	--square-width: 10vw;
}

body {
	font-family: HelveticaBlack;
	background-color: var(--red);
	font-size:1.6rem;
	line-height: 1.5;
	overflow-x: hidden;
}


.grid {
	display: grid;
	grid-template-columns: repeat(7, 125px);
	grid-template-rows: repeat(5, 125px);
	border:4px solid black;
	overflow:hidden;
	transform: rotate(45deg) translate(-200px, 200px);
	width: calc(125px * 7);
	height: calc(125px * 5);
	// z-index:-1;
	position:static;
}


.grid:after {
	background: url('../mari_aesthetic_notext.jpg');
	background-size: cover;
	content: "";
	position: absolute;
	width: 200%;
	height: 200%;
	top: -50%;
	left: -50%;
	z-index: -1;
	transform: rotate(-45deg);
}

.grid_item {
	position:relative;
}

.grid_item .tv-noise {
	position: absolute;
	top: -25px;
	left: -25px;
	width: 140px;
	height:  140px;
	background: repeating-linear-gradient(#111, #111 50%, #fff 50%, #fff);
	background-size: 5px 5px;
	filter: url(#noise);
	animation: rotate 5s forwards;
	z-index: 5;
}

.grid_item .tv-noise--no-rotate {
	animation: none;
}

.border {
	border:2px solid black;
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height:  100%;
	content:"";
}


@keyframes rotate {
  0% {
  	transform: rotate3d(0,0,0,0deg);
  }

  50% {
  	transform: rotate3d(0,0,0,0deg);
  }

  100% {
  	transform: rotate3d(1,1,0,180deg);
  	 backface-visibility: hidden;
  }
}

.main-char {
	height: 100vh;
	width:100vw;
	position:absolute;
	top:0;

	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}


h1 {
	color:var(--yellow);
	font-size: clamp(1rem, 10rem, 10rem);
	text-transform: uppercase;
	line-height: 1;
	font-variant-numeric: oldstyle-nums;
	position:absolute;
	top:50%;
	right:0;
}

